* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: #103f1bdb;
    top: 0;
    padding: 8px 0px;
    z-index: 999 !important;

}

.navlinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links {
    text-decoration: none;
    color: #FFF5CF;
    font-size: 20px;
    font-weight: 400;
    transition: 1s;
    padding: 10px 20px;
}

.links:hover {
    background-color: #FFF5CF;
    color: #133919;
    border-radius: 6px;
    transition: .5s;
}

.navbar ul {
    width: 80% !important;
    padding: 10px;
}


.center {
    overflow: hidden;
}

.container{
    height: 85vh;
    background-image: url("../img/Doyoubit.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5CF;
    text-align: center;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text p{
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    padding: 10px;
}
.button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #FFF5CF;
    border-radius: 10px;
    align-items: center;
    padding: 10px 20px;
}

.btn_text {
    color: #333;
    background-color: transparent;
    border: 2px solid #FFF5CF;
}

.btn_new {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #133919;
    color: #FFF5CF;
}

.content{
    /* padding:70px; */
    color: #FFF5CF;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #133919;
}
.center-Container{
    display: flex;  
}
.items{
   display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%; 
    flex-direction: column;
}
.reduce1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.reduce{
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;

}
.recycle{
   display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    padding: 40px 0;
    margin-left: 40px; 
}
.email{
     display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    padding: 40px 0;
    margin-left: 40px; 
}
.center-Container1{
    display: flex;  
}

.reuse{
 display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}

.water{
   display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    padding: 40px 0;
    margin-left: 40px; 
}

.paper_consumption{
     display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}
.print{
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}
.brushing{
     display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}

.container1 {
    background-image: url("../img/recycle1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10% 0px;

}

.container-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.reach {
    width: 40%;
    font-size: 23px;
    color: #FFF5CF;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.para1 {
    padding: 40px 0px;
}

.heading {
    display: flex;

}

.heading1>div {
    display: flex;
    gap: 20PX;

}

.heading1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    color: #FFF5CF;
}

.heading2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #FFF5CF;

}

.form {
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

label {
    display: none;
}

.inputField {
    padding: 20px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;

}

.form-container {
    width: 90%;

}

.inputField::placeholder {
    font-size: 20px;
    font-weight: 600;
}

.colour {
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: #133919;
    color: #FFF5CF;

    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.button1 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #FFF5CF;
    border-radius: 10px;
    width: 80%;
    align-items: center;
    padding: 10px 20px;
    width:auto;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: url("../img/welovebg.png");
    font-size: 28px;
    padding: 10px 20px;
    margin: auto;
    flex-direction: column;
}

.para img {
    width: 550px;
    position: relative;
    animation: moveRight 4s linear;
}

.rightImg {
    position: relative;
    animation: moveLeft 4s  linear !important;
}
.menu-btn {
    display: none;
}

.mobile-nav li a{
    color: #ffffff !important;
    text-decoration: none;
    font-size: 2vw;
}
.mobile-nav li{
    margin-bottom: 30px !important;
    padding: 10px 30px;
    
}
.mobile-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 40px 30px;
}

.mobile-navBar {
    width: 50%;
    height: 100vh;
    background-color: #103f1b;
    position: fixed;
    z-index: 99;
    right: -100%;
    top: 0;
}



 @media screen and (max-width:768px) {
    .navlinks {
        display: none;
    }
.menu-btn {
    display: block !important;
}
    .center-Container,
    .center-Container1 {
        flex-direction: column;
        padding: 0 10px;
    }


    .container,
    .container-top {
        flex-direction: column;
        align-items: center;
    }
    .items{
        width: 100%;
    }
    .reduce1 {
        flex-direction: column;
        text-align: center;
    }
    .reduce1 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .reduce, .recycle, .email, .paper_consumption {
        font-size: 16px;
        padding: 10px;
        flex-direction: column-reverse;
    }
    .reuse, .brushing, .water, .print{
        font-size:  16px;
        padding: 10px;
        flex-direction: column;
    }

    .reach {
        width: 90%;
        padding: 5%;
    }

    .form {
        width: 70%;
        padding: 5%;

    }

    .content1 {

        width: 100%;
        font-size: 16px;
        padding: 21px 5px;
    }

}

@media screen and (max-width:428px) {
    .navlinks {
        display: none;
    }
    .center-Container,
    .center-Container1 {
        flex-direction: column;
        padding: 0 10px;
    }
    .button{
        width: 30%;
    }


    .container,
    .container-top {
        flex-direction: column;
        align-items: center;
    }
    .items{
        width: 100%;
    }
    .reduce1 {
        flex-direction: column;
        text-align: center;
    }
    .reduce1 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .reduce, .recycle, .email, .paper_consumption {
        font-size: 16px;
        padding: 10px;
        flex-direction: column-reverse;
    }
    .reuse, .brushing, .water, .print{
        font-size:  16px;
        padding: 10px;
        flex-direction: column;
    }

    .reach {
        width: 100%;
        padding: 5% 3%;
    }

    .form {
        width: 70%;
        padding: 5%;

    }
    .content1 {

        width: 100%;
        font-size: 16px;
        padding: 21px 5px;
    }

}