* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: #103f1bdb;
    top: 0;
    padding: 8px 0px;

}

.navlinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links {
    text-decoration: none;
    color: #FFF5CF;
    font-size: 20px;
    font-weight: 400;
    transition: 1s;
    padding: 10px 20px;
}

.links:hover {
    background-color: #FFF5CF;
    color: #133919;
    border-radius: 6px;
    transition: .5s;
}

.navbar ul {
    width: 50%;
    padding: 10px;
}



.container {
    height: 100vh;
    background-image: url("../img/recycle.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5CF;
    text-align: center;
    padding: 20px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    ;
}

.text p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.button {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #FFF5CF;
    border-radius: 10px;
    width: 50%;
    align-items: center;
    padding: 10px 20px;
}

.btn_new {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #133919;
    color: #FFF5CF;
}

.btn_text {
    color: #333;
    background-color: transparent;
    border: 2px solid #FFF5CF;
}

.web {
    padding: 50px;
    width: 40%;
    /* margin-left: 50px; */

}

.web_new {
    width: 40%;
    /* margin-left: auto; */
    padding: 40px;
}

.table {
    font-size: 25px;
    color: brown;
    gap: 20px;
    padding: 60px 40px;
    display: flex;
}

.container1 {
    background-image: url("../img/recycle1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10% 0px;

}
.container-top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.reach {
    width: 40%;
    font-size: 23px;
    color: #FFF5CF;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.para1 {
    padding: 40px 0px;
}

.heading {
    display: flex;
    
}

.heading1 > div{
    display: flex;
    gap: 20PX;
    
}

.heading1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
}
.heading2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    
}
.form{
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
label{
    display: none;
}
.inputField{
    padding: 20px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
}
.form-container{
    width: 90%;

}

.inputField::placeholder{
    font-size: 20px;
    font-weight: 600;
}
.colour{
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: #133919;
    color: #FFF5CF;

    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.button1 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #FFF5CF;
    border-radius: 10px;
    width: 80%;
    align-items: center;
    padding: 10px 20px;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    background: url("../img/welovebg.png");
    font-size: 28px;
    padding: 10px 20px;
    margin: auto;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .navlinks {
        display: none;
    }
    .center-Container1 {
        flex-direction: column;
        padding: 0 10px;
    }
    .container-top {
        flex-direction: column;
        align-items: center;
    }
     .reach {
        width: 90%;
        padding: 5%;
    }
    .table{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: auto;
    }

    .form {
        width: 70%;
        padding: 5%;

    }
    .content1 {

        width: 100%;
        font-size: 16px;
        padding: 21px 5px;
    }

}

@media screen and (max-width:428px) {
    .navlinks {
        display: none;
    }
    .center-Container1 {
        flex-direction: column;
        padding: 0 10px;
    }
    .container-top {
        flex-direction: column;
        align-items: center;
    }
     .reach {
        width: 90%;
        padding: 5%;
    }
    .table{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: auto;
    }

    .form {
        width: 70%;
        padding: 5%;

    }
    .content1 {

        width: 100%;
        font-size: 16px;
        padding: 21px 5px;
    }

}